name: Docker image arm github CI

on:
  push: 
  repository_dispatch:
  workflow_dispatch:
    inputs:
      buildImageAMD64:
        description: 'Build image AMD64'
        required: false
        default: true
        type: boolean
      buildImageARM64:
        description: 'Build image ARM64'
        required: false
        default: true
        type: boolean  
jobs:
  build-amd64:
    if: ${{ inputs.buildImageARM64 }} 
    runs-on: ubuntu-latest
    steps:
      - 
        name: 'Cleanup build folder'
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./    
      -
        name: Checkout Overleaf
        uses: actions/checkout@v4
        with:
          repository: "overleaf/overleaf"
          ref: ${{ matrix.versions.sha }}
          path: "${{ github.workspace }}"        
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      -
        name: Change OVERLEAF_BASE_TAG
        working-directory: ${{ github.workspace }}
        run: |
          sed -Ei 's|sharelatex/sharelatex-base:latest|\"${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base:latest\"|' server-ce/Dockerfile
      -
        name: Build and push image amd64
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64
          context: ${{ github.workspace }}
          file: server-ce/Dockerfile
          build-args: |
            SHARELATEX_BASE_TAG=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:latest-amd64
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:cache-amd
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:cache-amd,mode=max
  build-arm64:
    if: ${{ inputs.buildImageAMD64 }}
    runs-on: self-hosted
    steps:
      - 
        name: 'Cleanup build folder'
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./    
      -
        name: Checkout Overleaf
        uses: actions/checkout@v4
        with:
          repository: "overleaf/overleaf"
          ref: ${{ matrix.versions.sha }}
          path: "${{ github.workspace }}"        
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      -
        name: Change OVERLEAF_BASE_TAG
        working-directory: ${{ github.workspace }}
        run: |
          sed -Ei 's|sharelatex/sharelatex-base:latest|\"${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base:latest\"|' server-ce/Dockerfile
      -
        name: Build and push image arm64
        uses: docker/build-push-action@v3
        with:
          platforms: linux/arm64
          context: ${{ github.workspace }}
          file: server-ce/Dockerfile
          build-args: |
            SHARELATEX_BASE_TAG=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:latest-arm64
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:cache-arm
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex:cache-arm,mode=max
