name: Docker sharelatex-base github CI

on:
  push: 
  repository_dispatch:
  workflow_dispatch:

jobs:
  build-base:
    strategy:
      matrix:  
        include:
          - scheme-full: true
    runs-on: ubuntu-latest

    steps:
      - 
        name: 'Cleanup build folder'
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./    
      -
        name: Checkout Overleaf
        uses: actions/checkout@v4
        with:
          repository: "overleaf/overleaf"
          ref: "main"
          path: "${{ github.workspace }}"        
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Change scheme
        if: matrix.scheme-full
        working-directory: ${{ github.workspace }}
        run: sed -Ei 's/scheme-basic/scheme-full/' server-ce/Dockerfile-base
          
      -
        name: Build and push base image
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64, linux/arm64
          context: ${{ github.workspace }}
          file: server-ce/Dockerfile-base
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base:cache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/sharelatex-base:cache,mode=max
